{% extends 'sikept/main.html' %}

{% block content %}
{% load static %}
{% include 'sikept/status.html' %}
{% include 'sikept/confirm_delete_modal.html' %}

<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Dokumen Terbaru</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th scope="col"></th>
              <th>Perguruan Tinggi</th>
              <th>Perihal</th>
              <th>Tanggal</th>
              <th>Keterangan</th>
            </tr>
          </thead>
          <tbody>
            {% for i in order %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'pts' i.nama_pts %}">{{i.nama_pts|upper}}</a></td>
              <td>{{i.nomor.perihal}}</td>
              <td>{{i.date_created}}</td>
              <td>{{i.dokumen.category}}</td>
              <td>
                <a href="{% url 'update_order' i.id %}"><i class="fas fa-edit btnedit"></i></a>
              </td>
              <td>
                <a href="{%  url 'delete_order' i.id %}" class="confirm-delete" title="delete" data-bs-toggle="modal"
                  data-target="#delete" id="deleteButton{{i.id}}">
                  <i class="fas fa-trash-alt btndelete">

                  </i>
                </a>
              </td>

            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if order.has_other_pages %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if order.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ order.previous_page_number }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}

            {% for i in order.paginator.page_range %}
            {% if order.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a> </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if order.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}

      </div>
    </div>
  </div>

</section>



{% endblock %}
<script type="text/javascript">

  $(document).on('click', '.confirm-delete', function () {
    $("#delete").attr("caller-id", $(this).attr("id"));
  });

  $(document).on('click', '.confirmDeleteButtonModal', function () {
    var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
    window.location = $("#".concat(caller)).attr("href");
  });

</script>