{% extends 'sikept/main.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<br>
<h5>Distribusi Dokumen</h5>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm"></table>

            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <input class="btn btn-sm btn-info" type="submit" name="submit">
            </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}